.other_messages {border-left: 6px solid #0087bd; background-color: #f2eeed; color: #00aff5;}

           body {font-family: 'Cutive Mono', monospace;}

           ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden;}
           #login {display: block; width: 60px; color: white;}
           li {float: left;}
           #login {display: block; padding: 8px; background-color: #0087bd;

           label {
           display: block;
           }