<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

</head>

<body>

    <h1>welcome to the chat site</h1>

    <form method="post" action="/login">

        <label>type your username
            <input type="text" name="username">
        </label>

        <label>type your password
            <input type="password" name="password">
        </label>

        <input id="login" type="submit" value="chat">

        {% if username %}
            <h2>wrong username</h2>
        {% elif password %}
            <h2>wrong password</h2>
        {% endif %}
    </form>



</body>

</html>